@font-face {
    font-family: Poppins;
     src: url("assets/fonts/Poppins");
   }
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid rgb(27, 172, 58);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: greenyellow;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth; 
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
}
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
}
.section-item a:hover {
    color: #4d2323;
}